# Neon PostgreSQL connection string
DATABASE_URL="postgresql://neondb_owner:npg_placeholder@ep-cool-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT secret key for session cookies (generate with `openssl rand -hex 32`)
AUTH_SECRET="f6e7d8c9b0a123456789abcdef0123456789abcdef0123456789abcdef012345"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
